footer{
background-position: bottom, 30px;
padding: 30px;
margin:0 auto;}

img{border-radius: 3px;}

.icons{margin-right:10px;
}

.container{
width:100%;
padding:2%;
background-color: rgba(239, 248, 275, 0.7);
border-radius: 4px;
margin-left: 10px;}

.intro-p{line-height: 1.5;}

.navbar-brand{margin-left:3%;}
.navbar-toggler{margin-right: 5%;}

@media(max-width:768px){
    img{display: block;
        margin:0 auto;
    max-width: 80%;}
}